$site-footer-background: #fff !default;
$site-footer-text-color: #181818 !default;
$site-footer-border-color: #181818 !default;
$site-footer-anchor-color: #181818 !default;
$site-footer-anchor-color-hover: contrast-color($site-footer-background, #222, #fff, 50%) !default;

$site-footer-info-background: #f4f4f4;
$site-footer-info-text-color: contrast-color($site-footer-info-background, #222, #fff, 50%) !default;
$site-footer-info-anchor-color: contrast-color($site-footer-info-background, #222, #fff, 50%) !default;
$site-footer-info-anchor-color-hover: contrast-color($site-footer-info-background, #222, #fff, 50%) !default;

.site-footer{
	color: $site-footer-text-color;
	background-color: $site-footer-background;
	padding: 0;

	a{
		color: $site-footer-anchor-color;

		&:hover{
			color: $site-footer-anchor-color-hover;
		}
	}
}

.footer-widget-area {
	overflow: hidden;
	padding: 2.25rem 1.25rem 0;

	&.columns-1 {
		.footer-widget {
			@media #{$large-up} {
				width: 100%;
			}
		}
	}

	&.columns-2 {
		.footer-widget {
			@media #{$large-up} {
				width: 50%;
			}
		}
	}

	&.columns-3 {
		.footer-widget {
			@media #{$large-up} {
				width: 33.3333333333%;
			}
		}
	}

	&.columns-4 {
		.footer-widget {
			@media #{$large-up} {
				width: 25%;
			}
		}
	}

	.footer-widget {
		padding: 0;

		.widget{
			color: $site-footer-text-color;
		}

		@media #{$large-up} {
			padding: 0 15px;
			float: left;
		}

		&:first-child {
			@media #{$large-up} {
				padding-right: 15px;
				padding-left: 0;
			}
		}

		&:last-child {
			@media #{$large-up} {
				padding-left: 15px;
				padding-right: 0;
			}
		}

		.widget-title {
			color: $site-footer-anchor-color;
			background: transparent;
			font-weight: bold;
			font-size: 30px;
			font-weight: 300;
			margin-top: 0;
			margin-bottom: 30px;
			&:after {
				content: " ";
				height: 2px;
				background: #181818;
				width: 15%;
				position: absolute;
				bottom: -10px;
				left: 0;
			}
		}

		.widget {
			margin-bottom: 2.25em;
			margin-bottom: 2.25rem;

			li, a {
				border-color: $site-footer-border-color;
			}
		}

		.widget_calendar #calendar_wrap {
			padding-right: 0;
		}
	}
}

.site-info-wrapper{
	padding: 0;
	background: $site-footer-info-background;
	color: $site-footer-info-text-color;
	line-height: 1.5;

	a{
		color: $site-footer-info-anchor-color;

		&:hover{
			color: $site-footer-info-anchor-color-hover;
		}
	}

	.site-info-text{
		color: rgba(0,0,0,.5);
		text-align: center;
		font-size: .9em;

		a[rel="designer"] {
			color: rgba(0,0,0,.5);
		}

		.menu {
			display: none;
			padding: 0;
			margin: 0 0 10px 0;
			list-style: none;

			li {
				display: inline;
				padding-right: 30px;

				a {
					text-transform: uppercase;
					font-weight: 700;
					color: #181818;
					font-size: emCalc(14);
				}
			}
		}

		@media screen and (min-width: 769px) {
			text-align: left;
			float: left;
			width: 50%;

			.menu {
				display: block;
			}
		}
	}

	.site-info{
		padding: 2.5rem 2rem;
		overflow: hidden;

		.social-menu {
			margin-top: 15px;

			@media screen and (min-width: 769px) {
				float: right;
				width: 50%;
				margin: 0;
			}

			ul{
				text-align: center;
				margin-right: 0;

				li:last-child a {
					margin-right: 0;
				}

				@media screen and (min-width: 769px) {
					text-align: right;
				}
			}

			li {
				padding: 0;
			}

			a{
				margin-right: 15px;
				color: #181818;

				&:before {
					font-size: 36px;
					padding: 0;
					width: 36px;
					height: 36px;
				}
			}
		}

	}

	.site-info-inner{
		@extend .large-12;
		@extend .columns;
	}
}

.footer-menu {
	float: left;

	ul {
		list-style: none;
		margin: 0 0 5px;
		padding: 0;
		text-align: center;

		@media #{$medium-up} {
			text-align: left;
		}

		li {
			display: inline-block;
			font-size: .875rem;
			font-weight: 600;
			margin: 0 10px;
			text-align: center;
			text-transform: uppercase;

			&:first-of-type{
				margin-left: 0;
			}

			@media only screen and (min-width: 568px) {
				text-align: left;
			}

			a {
				color: $body-font-color;
			}

		}

	}

}