$menu-font-family: $header-font-family !default;
$menu-background-color: transparent;

.main-navigation-container {

	@media #{$small-only}{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
	}
}

.main-navigation {
	display: none;
	font-family: $header-font-family;

  &.open {
    display: block;
  }

	@media #{$medium-up}{
		display: block;
	}

	.menu-main-menu-container {

		@media #{$medium-up}{
			margin-left: 30px;
			margin-right: 0;
			width: auto;
			float: right;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: white;

		a{
			color: $body-font-color;
		}

		li li{
			text-indent: 1rem;
		}

		ul {
			z-index: 99999;

			@media #{$medium-up}{
				position: absolute;
				left: -999em;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

				ul {
					left: -999em;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				a {
					background-color: white;
					width: 200px;
					padding: .75em .5em;
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	@media #{$medium-up}{
		li {
			position: relative;
			float: left;
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 2.2em 1em;
		color: $body-font-color;

		@media #{$small-only}{
			padding-top: 1em;
			padding-bottom: 1em;
			border-bottom: 1px solid rgba(0,0,0,.1);
		}

		&:hover,
		&:visited:hover {
			opacity: 0.8;
		}
	}

	.menu > li > a{
		&:hover:after,
		&:visited:hover:after{
			color: $body-font-color;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current_page_parent > a,
	.current-menu-ancestor > a {
		position: relative;

		&:after{
			content:" ";
			border-top: 3px solid white;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
	}

	.sub-menu .menu-item-has-children > a::after {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		right: 20px;
		top: 50%;
		border-bottom: 7px solid transparent;
		border-top: 7px solid transparent;
		border-left: 7px solid $body-font-color;
		transform: translateY(-50%);
		display: none;

		@media #{$medium-up}{
			display: inline;
		}
	}

	.menu-item-search {

		@media #{$medium-up}{
			form{
				position: absolute;
				top: 65px;
				right: 0;
				width: 400px;
				padding: 10px;
				background-color: white;
				box-shadow: 0 2px 4px rgba(0,0,0,.3);
				display: none;
			}
		}

		&.open{
			form{
				display: block;
			}
		}

		@include clearfix;
		height: auto;
		border-bottom: 1px solid rgba(0,0,0,.1);

		form{
			padding: 20px;
		}

		label{
			display: inline;
		}

		input[type="search"]{
			width: 65%;
			padding-left: 5%;
			padding-right: 5%;
			float: left;
		}

		input[type="submit"]{
			width: 25%;
		}

		.search-toggle{

			.genericon-search{
				width: 24px;
				height: 24px;
				font-size: 24px;
			}

		}

		@media #{$small-only}{

			.search-toggle{
				display: none;
			}
		}

	}

}







/* Small menu */
.menu-toggle {
	float: right;
	padding: 23px 0 10px 10px;
	position: absolute;
	cursor: pointer;
	right: 10px;
	width: 55px;
	z-index: 9999;
	display: none;
	top: 25px;

	@media #{$small-only} {

		display: block;
		right: 15px;
		padding: 0 9px 24px 0;
		position: absolute;
		top: 22px;
		z-index: 99999;

		.admin-bar &{
			top: 48px;
		}

		div {
			height: 0.45rem;
			margin-left: 0;
			margin-right: 0.86rem;
		}
	}

	@media only screen and (max-width: 768px) {
		.admin-bar &{
			top: 68px;
		}
	}

	@media #{$medium-up}{
		display: none;
	}

	div {
		background-color: $body-font-color;
		height: 0.25rem;
		margin: 0.43rem;
		transform: rotate(0deg);
		transition: .15s ease-in-out;
		transform-origin: left center;
	}

	&.open div {
		&:nth-child(1) {
			transform: rotate(45deg);
		}

		&:nth-child(2) {
			width: 0%;
			opacity: 0;
		}

		&:nth-child(3) {
			transform: rotate(-45deg);
		}
	}
}








.navigation {
	@extend .row;

	.nav-links {
		@extend .large-12;

		@extend .columns;

		margin-bottom: 1em;
		margin-bottom: 1rem;
	}
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
